# Ignora tutto di default
*

# Eccezioni: includi il file modificato in src
!src/
!src/fandango/
!src/fandango/evolution/
!src/fandango/evolution/algorithm/
!src/fandango/evolution/algorithm/simple.py

# Eccezioni: includi la cartella evaluation e i suoi file python
!evaluation/
!evaluation/*.py