# Ignora tutto di default
*


!src/
!src/fandango/
!src/fandango/evolution/
!src/fandango/evolution/algorithm/
!src/fandango/evolution/algorithm/simple.py


!evaluation/
!evaluation/*.py
!src/fandango/constraints/fitness.py